# Dependencies
node_modules/

# Build output
dist/

# Coverage
coverage/

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# Editors
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
